{
  "extends": "eslint:recommended",
  "plugins": ["jest"],
  "rules": {
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "max-len": ["off", 120],
    "no-else-return": "error",
    // This is to catch our TODOs, FIXMEs, etc.
    "no-warning-comments": 1,

    "jest/no-disabled-tests": "error",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",

    //Turned off as it conflicts with webpack alias
    "import/no-extraneous-dependencies": "off",
    // turned off because it complains about altering the accumulator in reduce
    "no-param-reassign": "off",
    "import/prefer-default-export": "off",
    "no-confusing-arrow": "off",
    "semi": "error"
  },
  "env": {
    "jest/globals": true,
    "es6": true,
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  }
}
